html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.body {
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usersTable {
    display: flex;
    justify-content: center;
}

.customers {
    font-size: 18px;
    border-collapse: collapse;
    text-align: center;
}

.interaction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.search_user {
    width: 30%;
    border-radius: 3px;
    border: 1px solid grey;
}

.first_row {
    width: 100%;
}

th, td:first-child {
    background: #92b2ce;
    color: white;
    padding: 10px 20px;
}

th {
    letter-spacing: 2px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
    color: darkslategray;
    text-align: left;
    padding-left: 5px;
}

th:first-child, td:first-child {
    text-align: left;
}

td:last-child {
    text-align: center;
}

.customers {
    width: 50%;
}

tr:hover td {
    background: #f3bd48;
    color: #fff;
}

.button_style {
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 3px;
}

.button_style_delete {
    background-color: #db4f4f;
}

.button_style_add {
    background-color: #7ea045;
}

.button_style_delete:hover {
    background-color: #a42828;
}

.button_style_add:hover {
    background-color: #668f1b;
}

.input_value {
    width: 100%;
}

.first_row_notVisible {
    display: none;
}

.first_row_visible {
    display: table-row;

}

.not_entered {
    border: 1px solid red;
}

.entered {
    border: transparent;
    background: #D8E6F3;
}